{% extends "_base.html" %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12 col-md-offset-2">
          <div class="col-sm-4">
            <h5>Участники в Новосибирске:</h5>
          </div>
          <div class="col-sm-4">
            <h5><a href="dir_organizations.html">105 оптовых покупателей</a></h5>
          </div>
          <div class="col-sm-4">
            <h5><a href="dir_organizations.html">25 производителей</a></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12 col-md-offset-2">
          <h2 class="text-center text-uppercase">Вам позвонят лучшие поставщики новосибирска</h2>
        </div>
      </div>
    </div>

{% include "_order_menu.html" %}

{% include "_orders_block.html" %}

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-md-offset-5">
          <button type="button" class="btn btn-default" style="margin: 20px 0" ><a href="orders_page.html">Посмотреть все заявки<a></a></button>
        </div>
      </div>
    </div>

{% include "_footer.html" %}

{% endblock %}