{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <h5>Участники в Новосибирске:</h5>
        </div>
        <div class="col-md-3">
          <h4><a href="#">105 оптовых покупателей</a></h4>
        </div>
        <div class="col-md-3">
          <h4><a href="#">25 производителей</a></h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-8 col-md-offset-2">
          <h2 class="text-center text-uppercase">Вам позвонят лучшие поставщики новосибирска</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12 col-md-offset-2">
          <div class="jumbotron">
            <form class="form-horizontal">
              <p class="text-left">Я ищу</p>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> ЖБИ
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Керпич / Газобетон /
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Бетон / Раствор
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Новосибирск и область<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Новосибирск и область</a></li>
                      <li><a href="#">Екатеренбург и Свердловская область</a></li>
                      <li><a href="#">Красноярск</a></li>
                      <li><a href="#">Омская область</a></li>
                      <li><a href="#">Оренбургская область</a></li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Описание*</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3" placeholder="Пример: нужно фбс 24.4.6 50 шт"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPhone" class="col-sm-2 control-label">Телефон</label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" id="inputPhone" placeholder="(903)999-99-99">
                </div>
                <label for="inputName" class="col-sm-2 control-label">Имя</label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" id="inputName" placeholder="Валентин">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                  <button type="submit" class="btn btn-default">Опубликовать заявку</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


{% endblock content%}
